<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Results</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <h2>Kreator natjecanja <%= searchTerm %></h2>

  <% if (competitions.length > 0) { %>
    <ul>
      <% competitions.forEach(competition => { %>
        <li><%= competition.username %></li>
      <% }); %>
    </ul>
  <% } else { %>
    <p>Ne postoji natjecanje s tim imenom.</p>
  <% } %>

</body>

</html>
